@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:wght@600&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:wght@600&family=Roboto:wght@400;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Lobster&family=Poppins:wght@600&family=Roboto:wght@400;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Carter+One&family=Lobster&family=Poppins:wght@600&family=Roboto:wght@400;900&display=swap');


.primera{
    background-image: url(dist/img/desktop.jpg) !important;
    background-size: cover;
    height: 100vh;
}

.logo{
     display: flex;
    align-content: center;
    height: 130px;
    background-color: black;
}
.texto1{
    height: 20px;
    color: white;
    display: table-column;
    margin-left: 20px;
    margin-top: 40px;
    font-family: Bangers;
    align-items: center;
    font-size: 10px;
}
.texto2{
    margin-bottom: 15px;
    color: gray;
    font-size: 10px;
    font-family:'Times New Roman', Times, serif;
}
.menu{
    display: flex;
    margin-left: 500px;
    margin-right: 50px;
    margin-top: 40px;
}

.menu button{
    height: 50px;
    width: 107px;
    display: inline-block;
    justify-content:space-between;
    text-align: center;
    line-height: 27px;
    border: 2px solid white;
    border-radius: 5px;
    font-size: 16px;
    font-family: Poppins;
    letter-spacing: 0px;
    opacity: 1;
    color: white;
}
.auto{
    display: flex;
    width: 60%;
    height: 10%;
    margin-top: 106px;
    margin-bottom: 0px;
    align-content: center;
    margin-left: 60px;
    color: white;
    font-size: 16px;
    
}

.h3{
    font-size: 44px;
    font-family: Poppins;
    
}
.h5{
    font-size: 26px;
    font-family: Poppins;

}
.auto2{
    display: flex;
    width: 51%;
    height: 20%;
    align-content: center;
    margin-top: 40px;
    margin-left: 60px;
    color: white;
   
}
.cuadrado{
    width: max-content;
    margin-top: 0px;
    margin-left: 100px;
    font-size: 18px;
    line-height: 17px;
    border: 2px solid white;
    border-radius: 5px;
    background-color: grey;
} 
.cuadrado button{
    font-family: Poppins;
    color: white;
    
}
.imagen{
    display: flex;
}
.segunda{
    height: 100vh;
    position: relative;
}
.texto{
    display: flex;
    width: 50%;
    flex-direction: column-reverse;
    justify-content: center;
    height: 200px;
    margin-left: 380px;
}
.texto3{
    color: black;
    font-family: Poppins;
    font-size: 36px;
}
.imagen{
    display: flex;
    margin-top: 110px;
    width: 300%;
    height: 10px;
    transition: all 300ms;
    position: relative;
}
.imagen img:hover{
    transform: scale(1.20);

}
.left{
    width: 400px;
    height: 300px;
    margin-left: 50px;
    border: 5px solid white;
}
.feat{
   display: flex;
    width: 400px;
    height: 300px;
    border: 5px solid white;
    margin-left: 100px;
}
.ford{
    display: flex;
    width: 400px;
    margin-left: 100px;
    margin-top: 10px;
    border: 5px solid white;
    margin-right: 50px;
    
}
.tercera{
   height: 100vh;
}

.contacto{
    display: flex;
    width: 50%;
    flex-direction: column-reverse;
    justify-content: center;
    height: 99px;
    margin-left: 300px;
    color: black;
    font-size: 46px;
    font-family: Poppins;
}
.container3{
    display: flex;
    width: 100%;
    height: 100px;
    background: linear-gradient(black, white);

}
.sociales{
    display: flex;
    margin-right: 15px;
    justify-content: center;
    margin-top: 80px;
   
}
.facebook{
    margin-top: 5px;
    width: 40px;
    height: 40px;
    border: 2px solid white;
}
.instagram{
    width: 50px;
    height: 50px;
    margin-left: 50px;
    border: 2px solid white;
}
.formulario{
    display: flex;
    width: 60%;
    height: 300px;
    margin-top: 100px;
    margin-left: 200px;
    border: 2px solid white;
    flex-direction: column;
    align-content: space-between;
    
}
.formulario .enviar{
    height: 50px;
    //margin-left: 200px;
    margin-top: 10px;
    background-color: grey;
    color: white;
}
.cuarta{
    height: 100vh;
}
.mapa{
    display: flex;
    width: 50%;
    flex-direction: column-reverse;
    justify-content: center;
    height: 99px;
    margin-left: 300px;
}
.container4{
    display: flex;
    width: 100%;
    height: 100px;
    background: linear-gradient(black, white);
}
.donde{
    display: flex;
    width: 80%;
    height: 100px;
    margin-left: 100px;
    font-family: Poppins;
    color: black;
    font-size: 46px;
    justify-content: center;
    flex-direction: column-reverse;
}
.ubicacion1{
    height: 50px;
    margin-top: 150px;
}
.ubicacion{
    display: flex;
    width: 50px;
    margin-left: 100px;
    margin-top: 50px;
}
.ubicacion1 .punto{
    width: 300px;
    margin-left: 100px;
    color: white;
    background-color: black;
}

.transferencia{
    display: flex;
    width: 30%;
    margin-left: 60%;
    height: 300px;
    margin-top: -1px;
    border: 4px solid black;
    
}
.llaves2{
    display: flex;
    width: 200px;
    margin-left: 40%;
    margin-top: 30px;
    color: black;
    font-size: 30px;
    font-family: Poppins;
    
}

.final{
    display: flex;
    height: 80px;
    //margin-left: 10px;
    justify-content: center;
    flex-direction: column-reverse;
    color: white;
}
.footer{
    width: 100%;
    bottom: 0;
    height: 100px;
    background-color: black;
}